main {
    background-color: #F5FCFF;
    border: none;
}

.title {
    background-color: white;
    padding: 3em 1em;
    border: 1px solid black;
}

pre {
    background-color: white;
    padding: 3em 1em;
    border: 1px solid black;
    overflow-x: auto;
}
