*{box-sizing: border-box;}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    line-height: 1.45;
    margin: 0 auto;
    max-width: 66ch;
    overflow-x: hidden;
    padding: 1em;
    background-color: #fafafa;
}

time {
font-size: smaller;
}

pre {
 overflow-y: auto;
}
